ul.footerLinks {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.footerLinks li {
  display: inline-block;
}

ul.footerLinks li a {
  font-size: 20px;
  color: #B2B2B2;
}

.footerWrapper {
  background-color: #ffffff;
  padding: 40px 40px 100px;
}

footer.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.copyright {
  float: left;
}

.footerTitle {
  float: right;
  position: relative;
  left: 80px;
}

.copyright,
.footerTitle {
  padding: 40px 0;
  color: #E7E6E0;
  font-size: 12px;
}

.footerLinks .right i {
  font-size: 30px;
}

.footerLinks .right li:first-child {
  margin-right: 25px;
}