h4.logo {
  margin: 0;
  padding: 40px 0 0 60px;
  font-size: 20px;
  letter-spacing: 4px;
  float: left;
}

.right {
  float: right;
}

.bt-menu {
  position: relative;
  padding: 40px 40px 0;
  height: 100px;
  width: 104px;
  cursor: pointer;
  z-index: 2;
}

.bt-menu .container-lines {
  width: 24px;
  height: 20px;
  overflow: hidden;
}

.bt-menu .line:first-child {
  margin-top: 0;
}

.bt-menu .line {
  display: block;
  position: relative;
  width: 24px;
  height: 2px;
  margin-top: 7px;
}

.bt-menu span {
  display: inline-block;
  vertical-align: top;
  background-color: #b2b2b2;
  height: 2px;
  width: 24px;
}

.bt-menu .line.line-2 .l1 {
  width: 7px;
}

.bt-menu .line.line-2 .l2 {
  width: 14px;
  margin-left: 3px;
}

.navbarMenuWrapper {
  position: absolute;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #F8BD01;
  // display: none;
}

.navbarMenuWrapper .logo {
  padding-bottom: 40px;
  color: #fece2f;
  cursor: pointer;
}

.navLinks {
  padding: 40px;
  margin: 0;
  list-style-type: none;
  text-align: center;
}

.navLinks a {
  color: #FAFAFA;
  text-decoration: none;
  font-size: 16px;
}

.navLinks li {
  display: inline-flex;
  margin-right: 120px;
}

.navLinks li .line {
  background-color: #ffdc69;
  -webkit-transition: all .6s cubic-bezier(.19, 1, .22, 1);
  transition: all .6s cubic-bezier(.19, 1, .22, 1);
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
  width: 20px;
  height: 1px;
}