/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 1050px and below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1050px) {
  .navLinks li {
    margin-right: 60px;
  }

  .navLinks {
    padding: 0 0 0 63px;
    text-align: left;
  }

  .clearLogo {
    clear: both;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 992px and below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 992px) {
  ul.footerLinks > li {
    margin-left: 0;
  }

  .projectWrapper > .imgWrapper {
    display: block;
  }

  .inner {
    right: -5em;
  }

  .inner.left {
    left: -5em;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 750px and below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 750px) {
  ul.footerLinks .right {
    float: none;
    text-align: center;
    padding-top: 40px;
  }

  .footerWrapper {
    padding: 40px 10px 100px;
    text-align: center;
  }

  .footerLinks .line.white {
    display: none;
  }

  ul.footerLinks .verticalLine {
    display: inline-block;
    padding-right: 7.5px;
  }

  .copyright,
  .footerTitle {
    float: none;
  }

  .footerTitle {
    left: 0;
    top: 10px;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 700px and below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 700px) {
  .textWrapperOne h1, .textWrapperTwo h1 {
    font-size: 40px;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 650px and below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 650px) {
  .navLinks {
    padding: 0;
  }

  .navLinks li {
    margin-right: 10px;
  }

  .projectWrapper .textWrapper h3 {
    font-size: 2em;
  }

  .inner {
    right: -3em;
  }

  .inner.left {
    left: -3em;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 500px and below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 500px) {
  .textWrapperOne h1, .textWrapperTwo h1 {
    font-size: 30px;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 400px and below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 400px) {
  span.line + span.text {
    font-size: 16px;
  }

  ul.footerLinks .verticalLine {
    position: relative;
    bottom: 2px;
  }

  .footerWrapper {
    padding: 40px 10px 50px;
  }

  .navLinks li .line {
    width: 10px;
  }

  .navLinks li {
    margin-right: 0;
  }

  .navLinks {
    text-align: center;
  }

  .textWrapperOne h1, .textWrapperTwo h1 {
    font-size: 25px;
  }
}