/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 1200px and below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1200px) {
  .social {
    overflow: visible;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 1050px and below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1050px) {
  .navLinks li {
    margin-right: 60px;
  }

  .navLinks {
    padding: 0 0 0 63px;
    text-align: left;
  }

  .clearLogo {
    clear: both;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 992px and below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 992px) {
  ul.footerLinks > li {
    margin-left: 0;
  }

  .projectWrapper > .imgWrapper.one,
  .projectWrapper > .imgWrapper.two,
  .projectWrapper > .imgWrapper.three {
    display: block;
    width: 100%;
  }

  .inner {
    right: -5em;
  }

  .inner.left {
    left: -5em;
  }

  .inner,
  .inner.left {
    bottom: -4em;
  }

  .projectWrapper > .imgWrapper {
    background-color: transparent;
    background-image: none;
  }

  .projectWrapper > .imgWrapper img {
    opacity: 1;
  }

  .social .textWrapper.right {
     float: none; 
  }

  .social .textWrapper {
    left: 0;
  }

  .social .discoverWrapper {
    top: 12em;
    left: 0;
  }

  .social {
    width: 100%;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 800px and below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 800px) {
  body {
    overflow-x: hidden;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 750px and below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 750px) {
  ul.footerLinks .right {
    float: none;
    text-align: center;
    padding-top: 40px;
  }

  .footerWrapper {
    padding: 40px 10px 100px;
    text-align: center;
  }

  .footerLinks .line.white {
    display: none;
  }

  ul.footerLinks .verticalLine {
    display: inline-block;
    padding-right: 7.5px;
  }

  .copyright,
  .footerTitle {
    float: none;
  }

  .footerTitle {
    left: 0;
    top: 10px;
  }

  .container-fluid.noPads.ng-scope {
    padding: 0;
  }

  svg {
    width: 20px;
    height: 20px;
  }

  #logo .logo-item.l1 {
    left: 60%;
  }

  #logo .logo-item.l2 {
    left: 70% !important;
  }

  #logo .logo-item.l3 {
    left: 80% !important;
  }

  #logo .logo-item.l4 {
    left: 90% !important;
  }

  #logo .logo-item.l5 {
    left: 5% !important;
  }

  #logo .logo-item.l6 {
    left: 15% !important;
  }

  #logo .logo-item.l7 {
    left: 25% !important;
  }

  #logo .logo-item.l8 {
    left: 35% !important;
  }

  #logo .logo-item.l9 {
    left: 45% !important;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 700px and below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 700px) {
  .textWrapperOne h1, .textWrapperTwo h1 {
    font-size: 40px;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 650px and below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 650px) {
  .navLinks {
    padding: 0;
  }

  .navLinks li {
    margin-right: 10px;
  }

  .projectWrapper .textWrapper h3 {
    font-size: 2em;
  }

  .inner {
    right: -3em;
  }

  .inner.left {
    left: -3em;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 600px and below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 600px) {
  .social .textWrapper h3 {
    font-size: 1.5em;
  }

  .social .textWrapper {
    padding: 1.5em;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 500px and below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 500px) {
  .textWrapperOne h1, .textWrapperTwo h1 {
    font-size: 30px;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 400px and below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 400px) {
  span.line + span.text {
    font-size: 16px;
  }

  ul.footerLinks .verticalLine {
    position: relative;
    bottom: 2px;
  }

  .footerWrapper {
    padding: 40px 10px 50px;
  }

  .navLinks li .line {
    width: 10px;
  }

  .navLinks li {
    margin-right: 0;
  }

  .navLinks {
    text-align: center;
  }

  .textWrapperOne h1, .textWrapperTwo h1 {
    font-size: 25px;
  }

  .social .discoverWrapper {
    top: 8em;
  }

  ul.footerLinks .verticalLine {
    padding-right: 0;
  }
}