/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 1050px and below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1050px) {
  .navLinks li {
    margin-right: 60px;
  }

  .navLinks {
    padding: 0 0 0 63px;
    text-align: left;
  }

  .clearLogo {
    clear: both;
  }
}

/*-----------------------------------------------------------------------------------------------------------------------------------*/
/* 650px and below */
/*-----------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 650px) {
  .navLinks {
    padding: 0;
  }

  .navLinks li {
    margin-right: 10px;
  }
}