<footer class="footer" ng-controller="FooterCtrl">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footerWrapper">
          <ul class="footerLinks">
            <li>
              <a ui-sref="home">
                <span class="line white"></span>
                <span class="text">home</span><span class="ion-ios-arrow-right"></span>
              </a>
            </li>
            <li>
              <a ui-sref="achievements">
                <span class="verticalLine">|</span>
                <span class="line white"></span>
                <span class="text">achievements</span><span class="ion-ios-arrow-right"></span>
              </a>
            </li>
            <li>
              <a ui-sref="studio">
                <span class="verticalLine">|</span>
                <span class="line white"></span>
                <span class="text">studio</span><span class="ion-ios-arrow-right"></span>
              </a>
            </li>
            <li>
              <a ui-sref="contact">
                <span class="verticalLine">|</span>
                <span class="line white"></span>
                <span class="text">contact</span><span class="ion-ios-arrow-right"></span>
              </a>
            </li>
            <div class="right">
              <li>
                <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
              </li>
            </div>
            <div style="clear: both:"></div>
          </ul>
          <div class="copyright">2017 - ALL RIGHTS RESERVED</div>
          <a ui-sref="home" class="footerTitle">LIVEICE.FR</a>
          <div style="clear: both:"></div>
        </div>
      </div>
    </div>
  </div>
</footer>