<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footerWrapper">
          <ul class="footerLinks">
            <li>
              <a href="#">home</a>
            </li>
            <li>
              <a href="#">achievements</a>
            </li>
            <li>
              <a href="#">studio</a>
            </li>
            <li>
              <a href="#">contact</a>
            </li>
            <div class="right">
              <li>
                <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
              </li>
            </div>
            <div style="clear: both:"></div>
          </ul>
          <div class="copyright">2017 - ALL RIGHTS RESERVED</div>
          <div class="footerTitle">DEADWATER.FR</div>
          <div style="clear: both:"></div>
        </div>
      </div>
    </div>
  </div>
</footer>