<div class="container-fluid topNavbar" ng-controller="NavbarCtrl">
  <div class="row">
    <div class="col-md-12">
      <h4 class="logo">LIVEICE</h4>
      <!-- HAMBURGER -->
        <div class="right">
          <div class="bt-menu">
            <div class="container-lines" ng-click="toggleHamburger();">
              <div class="line line-1">
                <span class="l1" style="background-color: #fff;"></span>
              </div>
              <div class="line line-2">
                <span class="l1" style="background-color: #fff;"></span><span class="l2" style="background-color: #fff;"></span>
              </div>
              <div class="line line-3">
                <span class="l1" style="background-color: #fff;"></span>
              </div>
            </div>
          </div>
        </div>
        <div style="clear: both;"></div>
      <!-- END HAMBURGER -->
    </div>
    <!-- HIDDEN NAV MENU -->
      <div class="navbarMenuWrapper">
        <h4 class="logo" ui-sref="home" ng-click="toggleHamburger();">LIVEICE</h4>
        <div class="clearLogo"></div>
        <ul class="navLinks">
          <li ng-click="toggleHamburger();">
            <em><span class="line"></span><a ui-sref="achievements">achievements</a><span class="ion-ios-arrow-right"></span></em>
          </li>
          <li ng-click="toggleHamburger();">
            <em><span class="line"></span><a ui-sref="studio">studio</a><span class="ion-ios-arrow-right"></span></em>
          </li>
          <li ng-click="toggleHamburger();">
            <em><span class="line"></span><a ui-sref="contact">contact</a><span class="ion-ios-arrow-right"></span></em>
          </li>
        </ul>
      </div>
    <!-- END HIDDEN NAV MENU -->
  </div>
</div>