<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h4 class="logo">DEADWATER</h4>
      <!-- HAMBURGER -->
        <div class="right">
          <div class="bt-menu">
            <div class="container-lines">
              <div class="line line-1">
                <span class="l1" style="background-color: rgb(178, 178, 178);"></span>
              </div>
              <div class="line line-2">
                <span class="l1" style="background-color: rgb(178, 178, 178);"></span><span class="l2" style="background-color: rgb(178, 178, 178);"></span>
              </div>
              <div class="line line-3">
                <span class="l1" style="background-color: rgb(178, 178, 178);"></span>
              </div>
            </div>
          </div>
        </div>
      <!-- END HAMBURGER -->
      <!-- HIDDEN NAV MENU -->
        
      <!-- END HIDDEN NAV MENU -->
    </div>
  </div>
</div>